<footer>
    <div class="section vision">
        <div class="name">Why</div>

        <div class="links">
            <div class="link">You</div>
            <div class="link">Friends</div>
            <div class="link">Health</div>
            <div class="link">Happiness</div>
            <div class="link">Earth</div>
        </div>
    </div>

    <div class="section app">
        <div class="name">App</div>

        <div class="links">
            <div class="link">Timeline</div>
            <div class="link">Features</div>
            <div class="link">Safety</div>
            <div class="link">FAQs</div>
        </div>
    </div>

    <div class="section community">
        <div class="name">Community</div>

        <div class="links">
            <div class="link">Local</div>
            <div class="link">Discord</div>
            <div class="link">Github</div>
        </div>
    </div>

    <div class="section us">
        <div class="name">Us</div>

        <div class="links">
            <div class="link">Co-Founders</div>
            <div class="link">About</div>
            <div class="link">Mission</div>
        </div>
    </div>

    <div class="section legal">
        <div class="name">Legal</div>

        <div class="links">
            <div class="link">Terms & Conditions</div>
            <div class="link">Privacy Policy</div>
            <div class="link">GDPR</div>
        </div>
    </div>
</footer>