<header>
    <div id="logo"></div>

    <div class="links">
        <a href="/you">
            You
        </a>

        <a href="/friends">
            Friends
        </a>

        <a href="/health">
            Health
        </a>

        <a href="/happiness">
            Happiness
        </a>

        <a href="/energy">
            Earth
        </a>
    </div>
</header>