<header>
    <a href="/">
        <div id="logo"></div>
    </a>

    <div class="links">


        <a href="/you">
            You
        </a>

        <a href="/friends">
<!--            <span class="in-person">In-Person</span>-->
            Friends
        </a>

        <a href="/health">
            Health
        </a>

        <a href="/happiness">
            Happiness
        </a>

        <a href="/energy">
            Earth
        </a>

        <a href="/waitlist">
            <div class="waitlist">Co-Founders</div>
        </a>
    </div>
</header>