#page.home {
    .email-confirmed {
        visibility: hidden;
        opacity: 0;
        transition: all 300ms;
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;

        .container {
            width: fit-content;
            background: $gray;
            color: white;
            padding: 6px 18px;
            border-radius: 6px;
        }

        &.show {
            visibility: visible;
            opacity: 1;
        }
    }

    .hero {
        margin: auto;
        padding: 40px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: lighten($brand_color_b, 3%);
        //border-bottom: 1px solid $brand_color_a;
    }

    .tagline {
        font-size: 60px;
        display: flex;
        gap: 0 15px;
        margin-bottom: 15px;

        @media screen and (max-width: 901px){
            font-size: 50px;
        }

        @media screen and (max-width: 601px){
            font-size: 40px;
        }

        @media screen and (max-width: 501px){
            font-size: 32px;
        }

        @media screen and (max-width: 501px){
            font-size: 28px;
        }

        .real {
            color: $brand_color_a;
            opacity: 1;
        }
    }

    .coming-soon {
        $start_dim: 100px;
        text-align: center;
        display: flex;
        align-items: center;
        font-weight: 300;
        position: relative;
        height: fit-content;
        gap: 0 20px;

        .text {
            font-size: 50px;
            transform: translateY(-5px);
        }

        .circle {
            font-size: 30px;
            border-radius: 50%;
            width: $start_dim;
            height: $start_dim;
            background-color: $brand_color_b;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            border: .5px solid $brand_color_a;

            .twenty-five {
                display: inline-block;
                transform-origin: left center;
                will-change: transform;
            }
        }

        @media screen and (max-width: 501px){
            gap: 0 10px;

            .text {
                font-size: 30px;
                transform: translateY(-2px);
            }

            .circle {
                width: 60px;
                height: 60px;
                font-size: 20px;
            }
        }
    }

    .signup-form {
        $br: 20px;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        background: white;
        height: initial !important;
        margin-top: 30px;
        text-align: center;
        width: 360px;
        max-width: 90vw;
        position: relative;

        .error-message, .success-message {
            opacity: 0;
            transition: all 300ms;
            padding: 4px 12px;

            &.show {
                opacity: 1;
            }
        }

        .error-message {
            position: absolute;
            color: white;
            background-color: orangered;
            font-size: 12px;
        }

        .success-message {
            background-color: #00ad45;
            color: white;
            margin-top: 15px;
            border-radius: 8px;
            position: absolute;
            bottom: -40px;
            width: inherit;
            padding-left: 0;
            padding-right: 0;
            z-index: 2;
        }

        .form {
            //background-color: $brand_color_a;
            /* margin-top: 30px; */
            border-radius: $br;
            width: 100%;
            position: relative;
            border: 1px solid $brand_color_a;
            display: flex;
            flex-direction: column;
            background-color: $brand_color_a;
            box-sizing: border-box;
        }

        input {
            $padding_lr: 15px;
            border: 0 solid;
            line-height: 1.5;
            padding: 10px $padding_lr;
            text-align: center;
            -webkit-transition: all 0.4s linear 0s;
            transition: all 0.4s linear 0s;
            float: left;
            margin: auto auto 0;
            width: calc(100% - $padding_lr * 2);
            border-bottom: 1px solid darken($lightgray, 20%);
            font-size: 15px;
            font-weight: 300;
            background-color: white;
            border-top-left-radius: $br;
            border-top-right-radius: $br;
        }

        .button {
            border: 0 none;
            color: #fff;
            cursor: pointer;
            -webkit-transition: width 0.4s ease 0s, border-radius 0.4s;
            transition: width 0.4s ease 0s, border-radius 0.4s;
            position: relative;
            //border-radius: 30px;
            padding: 0;
            border-bottom-left-radius: $br;
            border-bottom-right-radius: $br;
            //width: fit-content;
            width: 100%;
            height: 36px;
            font-weight: 300;
            font-size: 17px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .preview {
        .sections {
            display: flex;
            flex-direction: column;
            gap: 0 20px;
        }

        .section {
            padding-top: 30px;

            &:last-of-type {
                padding-bottom: 30px;
            }

            h2 {
                text-align: center;
                //color: white;
                background-color: $brand_color_b;
                padding: 6px 20px;
                font-weight: 500;
                font-size: 30px;
                width: fit-content;
                margin: auto;
                border-radius: 12px;
                border: 1px solid darken($brand_color_a, 10%);

                @media screen and (max-width: 601px){
                    font-size: 24px;
                }
            }

            .description {
                max-width: 90vw;
                width: 440px;
                margin: auto;
                margin-top: 15px;
                font-weight: 300;
                font-size: 22px;

                @media screen and (max-width: 440px) {
                    font-size: 18px;
                }
            }
        }

        .activity-types-container, .filters-container {
            max-width: 100%;
            padding: 20px 0;

            .swiper-slide {
                &:first-of-type {
                    margin-left: 30px;
                }

                &:last-of-type {
                    margin-right: 30px;
                }
            }

        }

        .swiper {
            width: 100%;
            padding-bottom: 40px;
        }

        .activity-card, .filter-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding: 15px;
            background-color: #fff;
            border-radius: 12px;
            border: 1px solid #e0e0e0; // Added border all around
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            //height: calc(#{$activity_image_h} + 60px);
            transition: all 0.3s ease;
            position: relative;
            z-index: 1;
        }

        .activity-icon, .filter-icon {
            //width: $ac;
            //height: $activity_image_h;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        .name-container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 60px;
        }

        .activity-name, .filter-name {
            font-size: 18px;
            font-weight: 500;
            text-align: center;
        }

        .activity-sub-name {
            font-size: 16px;
            font-weight: 300;
        }

        .swiper-pagination-bullet-active {
            background-color: $brand_color_a;
        }

        .swiper-button-prev, .swiper-button-next {
            top: 0 !important;
            transform: translateY(calc(var(--swiper-navigation-size)/ -2)) !important;
            height: 100% !important;
            margin-top: initial !important;
        }

        .video-section {
            .video-container {
                margin-top: 20px;

                display: flex;
                justify-content: center;

                video {
                    max-width: 90vw;
                    height: 600px;
                    border-radius: 20px;
                }
            }

            &.real-time {
                video {
                    $r: 2420 / 2000;
                    max-height: calc(90vw / #{$r});
                }
            }

            &.multi-person {
                video {
                    $r: 1736 / 1080;
                    max-height: calc(90vw / #{$r});
                }
            }

            &.kids-mode, &.networks {
                video {
                    $r: 1156 / 1080;
                    max-height: calc(90vw / #{$r});
                }
            }
        }

        .networks {
            .description {
                font-size: 16px;
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
        }

        .filters {
            .info {
                font-size: 15px;
                max-width: 90vw;
                width: 440px;
                margin: auto;
                margin-top: 6px;
                font-weight: 500;
            }
        }

        .filter-card {
            .filter-description {
                font-size: 14px;
                color: #6c757d;
                line-height: 1.4;
                margin-top: 6px;
            }
        }
    }

    .signup {
        background-color: $brand_color_b;
        padding: 20px 0;
        display: flex;
        justify-content: center;

        .button {
            background-color: $brand_color_a;
            color: white;
            padding: 8px 24px;
            font-size: 20px;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}