#page.preview {
    $activity_image_h: 600px;
    padding-bottom: 40px;

    h1 {
        font-size: 40px;
        text-align: center;
        margin: 30px 0 0px 0;
    }

    .sections {
        display: flex;
        flex-direction: column;
        gap: 0 20px;
    }

    .section {
        padding-top: 30px;

        h2 {
            text-align: center;
            color: white;
            background-color: $brand_color_a;
            padding: 6px 20px;
            font-weight: 500;
            font-size: 30px;
            width: fit-content;
            margin: auto;
            border-radius: 12px;
        }

        .description {
            max-width: 90vw;
            width: 440px;
            margin: auto;
            margin-top: 15px;
            font-weight: 300;
            font-size: 22px;

            @media screen and (max-width: 440px) {
                font-size: 18px;
            }
        }
    }

    .activity-types-container, .filters-container {
        max-width: 100%;
        padding: 20px 0;

        .swiper-slide {
            &:first-of-type {
                margin-left: 30px;
            }

            &:last-of-type {
                margin-right: 30px;
            }
        }

    }

    .swiper {
        width: 100%;
        padding-bottom: 40px;
    }

    .activity-card, .filter-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 15px;
        background-color: #fff;
        border-radius: 12px;
        border: 1px solid #e0e0e0; // Added border all around
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        //height: calc(#{$activity_image_h} + 60px);
        transition: all 0.3s ease;
        position: relative;
        z-index: 1;
    }

    .activity-icon, .filter-icon {
        //width: $ac;
        //height: $activity_image_h;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .name-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 60px;
    }

    .activity-name, .filter-name {
        font-size: 18px;
        font-weight: 500;
        text-align: center;
    }

    .activity-sub-name {
        font-size: 16px;
        font-weight: 300;
    }

    .swiper-pagination-bullet-active {
        background-color: $brand_color_a;
    }

    .swiper-button-prev, .swiper-button-next {
        top: 0 !important;
        transform: translateY(calc(var(--swiper-navigation-size)/ -2)) !important;
        height: 100% !important;
        margin-top: initial !important;
    }

    .video-section {
        .video-container {
            margin-top: 20px;

            display: flex;
            justify-content: center;

            video {
                max-width: 90vw;
                height: 600px;
                border-radius: 20px;
            }
        }

        &.real-time {
            video {
                $r: 2420 / 2000;
                max-height: calc(90vw / #{$r});
            }
        }

        &.multi-person {
            video {
                $r: 1736 / 1080;
                max-height: calc(90vw / #{$r});
            }
        }

        &.kids-mode, &.cross-network {
            video {
                $r: 1156 / 1080;
                max-height: calc(90vw / #{$r});
            }
        }
    }

    .third-party-networks {
        .description {
            font-size: 16px;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
    }

    .filters {
        .info {
            font-size: 15px;
            max-width: 90vw;
            width: 440px;
            margin: auto;
            margin-top: 6px;
            font-weight: 500;
        }
    }

    .filter-card {
        .filter-description {
            font-size: 14px;
            color: #6c757d;
            line-height: 1.4;
            margin-top: 6px;
        }
    }
}