.pre-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d86c7;
  color: white;
  text-align: center;
  height: 30px;
  font-weight: 500;
  font-size: 13px;
}

header .row {
  border-bottom: 1px solid #e6e6e6;
  z-index: 1001;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 10vw;
  background: rgb(247.9545454545, 252.2727272727, 254.5454545455);
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}
@media screen and (max-width: 1151px) {
  header .row {
    padding-left: 7.5vw;
  }
}
@media screen and (max-width: 901px) {
  header .row {
    padding: 0 5vw;
  }
}
header .logo {
  z-index: 1001;
}
header #logo {
  background-image: url(https://befriend.s3.amazonaws.com/befriend-logo-new.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 133.125px;
}
header .mobile-menu-button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  padding: 0;
  z-index: 1001;
}
@media screen and (max-width: 901px) {
  header .mobile-menu-button {
    display: flex;
  }
}
header .mobile-menu-button span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #2d86c7;
  transition: all 0.3s ease;
}
header .mobile-menu-button.active span:first-child {
  transform: translateY(9px) rotate(45deg);
}
header .mobile-menu-button.active span:nth-child(2) {
  opacity: 0;
}
header .mobile-menu-button.active span:last-child {
  transform: translateY(-9px) rotate(-45deg);
}
header .links {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  font-size: clamp(16px, 1.2vw, 17px);
  align-items: center;
  width: calc(100vw - 1 * 10vw - 2 * 5%);
  padding: 0 5%;
}
@media screen and (max-width: 1151px) {
  header .links {
    padding: 0;
    width: calc(100vw - 1 * 7.5vw);
  }
}
@media screen and (max-width: 901px) {
  header .links {
    display: none;
  }
}
header .links .waitlist {
  background-color: #2d86c7;
  padding: 6px 16px;
  color: white;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
}
header .links a {
  position: relative;
  white-space: nowrap;
}
header .links a svg {
  height: 13px;
  position: absolute;
  top: 1px;
  right: -20px;
}
header .links .in-person {
  font-size: 13px;
  position: absolute;
  left: 0;
  top: -16px;
  width: 80px;
}
header .mobile-menu {
  display: none;
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
@media screen and (max-width: 901px) {
  header .mobile-menu {
    display: block;
  }
}
header .mobile-menu.active {
  opacity: 1;
  visibility: visible;
}
header .mobile-menu .mobile-menu-content {
  padding: 90px 10vw 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 24px;
}
header .mobile-menu .mobile-menu-content a {
  display: flex;
  align-items: center;
  gap: 5px;
}
header .mobile-menu .mobile-menu-content a svg {
  height: 15px;
}

footer {
  padding: 20px 10vw;
  background-color: rgb(204.4344262295, 227.0491803279, 243.5655737705);
  display: flex;
  gap: 0 10vw;
  justify-content: center;
}
footer .copyright {
  text-align: center;
}
footer .section {
  display: flex;
  flex-direction: column;
  color: white;
}
footer .section .name {
  font-size: 20px;
}
footer .section .links {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  margin-top: 20px;
  font-weight: 300;
}
footer .section .links .link {
  cursor: pointer;
}

#page.home .email-confirmed {
  visibility: hidden;
  opacity: 0;
  transition: all 300ms;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
#page.home .email-confirmed .container {
  width: fit-content;
  background: #808080;
  color: white;
  padding: 6px 18px;
  border-radius: 6px;
}
#page.home .email-confirmed.show {
  visibility: visible;
  opacity: 1;
}
#page.home .hero {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#page.home .videos {
  display: flex;
  gap: 30px 30px;
  margin-top: 50px;
}
@media screen and (max-width: 901px) {
  #page.home .videos {
    flex-direction: column;
  }
  #page.home .videos video {
    max-width: 90vw;
    max-height: 195.3260869565vw;
  }
}
#page.home .videos .video {
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid #2d86c7;
}
#page.home .videos .video video {
  border-radius: 20px;
  transform: scale(1.02);
  height: calc(100vh - 100px);
}
#page.home .tagline {
  margin-top: 25px;
  font-size: 80px;
  display: flex;
  gap: 0 15px;
  margin-bottom: 20px;
}
@media screen and (max-width: 901px) {
  #page.home .tagline {
    font-size: 70px;
  }
}
@media screen and (max-width: 801px) {
  #page.home .tagline {
    font-size: 60px;
  }
}
@media screen and (max-width: 701px) {
  #page.home .tagline {
    font-size: 50px;
  }
}
@media screen and (max-width: 601px) {
  #page.home .tagline {
    flex-direction: column;
    gap: 15px 0;
    text-align: center;
    margin-top: 0px;
  }
}
#page.home .tagline .real {
  color: #2d86c7;
  opacity: 1;
}
#page.home .tagline span {
  opacity: 0;
  transition: all 1000ms;
}
#page.home .tagline span.show {
  opacity: 1;
}
#page.home .coming-soon {
  text-align: center;
  display: flex;
  align-items: center;
  font-weight: 300;
  position: relative;
  height: 202px;
}
@media screen and (max-width: 501px) {
  #page.home .coming-soon {
    height: 142px;
  }
}
#page.home .coming-soon .text {
  font-size: 100px;
  transform: translateY(-10px);
  opacity: 0;
  transition: all 1000ms;
  margin-right: 230px;
}
@media screen and (max-width: 601px) {
  #page.home .coming-soon .text {
    font-size: 60px;
    transform: translateY(0px);
  }
}
@media screen and (max-width: 501px) {
  #page.home .coming-soon .text {
    margin-right: 160px;
    transform: translateY(-7px);
  }
}
@media screen and (max-width: 501px) and (max-width: 401px) {
  #page.home .coming-soon .text {
    font-size: 40px;
    transform: translateY(0px);
  }
}
#page.home .coming-soon .text.show {
  opacity: 1;
}
#page.home .coming-soon .circle {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  font-size: 70px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: #e0f3fd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border: 0.5px solid #2d86c7;
  will-change: transform;
  transition: all 200ms ease;
  transform: translateY(-120vh);
}
#page.home .coming-soon .circle .twenty-five {
  display: inline-block;
  transform: scale(1);
  transform-origin: left center;
  transition: all 500ms;
  will-change: transform;
}
@media screen and (max-width: 501px) {
  #page.home .coming-soon .circle {
    font-size: 50px;
    width: 140px;
    height: 140px;
  }
}
#page.home .signup-form {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background: white;
  height: initial !important;
  margin-top: 30px;
  text-align: center;
  width: 360px;
  max-width: 90vw;
  position: relative;
}
#page.home .signup-form .error-message, #page.home .signup-form .success-message {
  opacity: 0;
  transition: all 300ms;
  padding: 4px 12px;
}
#page.home .signup-form .error-message.show, #page.home .signup-form .success-message.show {
  opacity: 1;
}
#page.home .signup-form .error-message {
  position: absolute;
  color: white;
  background-color: orangered;
  font-size: 12px;
}
#page.home .signup-form .success-message {
  background-color: #00ad45;
  color: white;
  margin-top: 15px;
  border-radius: 8px;
  position: absolute;
  bottom: -40px;
  width: inherit;
  padding-left: 0;
  padding-right: 0;
  z-index: 2;
}
#page.home .signup-form .form {
  /* margin-top: 30px; */
  border-radius: 20px;
  width: 100%;
  position: relative;
  border: 1px solid #2d86c7;
  display: flex;
  flex-direction: column;
  background-color: #2d86c7;
  box-sizing: border-box;
}
#page.home .signup-form input {
  border: 0 solid;
  line-height: 1.5;
  padding: 10px 15px;
  text-align: center;
  -webkit-transition: all 0.4s linear 0s;
  transition: all 0.4s linear 0s;
  float: left;
  margin: auto auto 0;
  width: calc(100% - 30px);
  border-bottom: 1px solid #b3b3b3;
  font-size: 15px;
  font-weight: 300;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#page.home .signup-form .button {
  border: 0 none;
  color: #fff;
  cursor: pointer;
  -webkit-transition: width 0.4s ease 0s, border-radius 0.4s;
  transition: width 0.4s ease 0s, border-radius 0.4s;
  position: relative;
  padding: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  height: 36px;
  font-weight: 300;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#page.preview {
  padding-bottom: 40px;
}
#page.preview h1 {
  font-size: 40px;
  text-align: center;
  margin: 30px 0 0px 0;
}
#page.preview .sections {
  display: flex;
  flex-direction: column;
  gap: 0 20px;
}
#page.preview .section {
  padding-top: 30px;
}
#page.preview .section h2 {
  text-align: center;
  color: white;
  background-color: #2d86c7;
  padding: 6px 20px;
  font-weight: 500;
  font-size: 30px;
  width: fit-content;
  margin: auto;
  border-radius: 12px;
}
#page.preview .section .description {
  max-width: 90vw;
  width: 440px;
  margin: auto;
  margin-top: 15px;
  font-weight: 300;
  font-size: 22px;
}
@media screen and (max-width: 440px) {
  #page.preview .section .description {
    font-size: 18px;
  }
}
#page.preview .activity-types-container, #page.preview .filters-container {
  max-width: 100%;
  padding: 20px 0;
}
#page.preview .activity-types-container .swiper-slide:first-of-type, #page.preview .filters-container .swiper-slide:first-of-type {
  margin-left: 30px;
}
#page.preview .activity-types-container .swiper-slide:last-of-type, #page.preview .filters-container .swiper-slide:last-of-type {
  margin-right: 30px;
}
#page.preview .swiper {
  width: 100%;
  padding-bottom: 40px;
}
#page.preview .activity-card, #page.preview .filter-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
}
#page.preview .activity-icon, #page.preview .filter-icon {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page.preview .activity-icon img, #page.preview .filter-icon img {
  max-width: 100%;
  max-height: 100%;
}
#page.preview .name-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 60px;
}
#page.preview .activity-name, #page.preview .filter-name {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
#page.preview .activity-sub-name {
  font-size: 16px;
  font-weight: 300;
}
#page.preview .swiper-pagination-bullet-active {
  background-color: #2d86c7;
}
#page.preview .swiper-button-prev, #page.preview .swiper-button-next {
  top: 0 !important;
  transform: translateY(calc(var(--swiper-navigation-size) / -2)) !important;
  height: 100% !important;
  margin-top: initial !important;
}
#page.preview .video-section .video-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
#page.preview .video-section .video-container video {
  max-width: 90vw;
  height: 600px;
  border-radius: 20px;
}
#page.preview .video-section.real-time video {
  max-height: calc(90vw / 1.21);
}
#page.preview .video-section.multi-person video {
  max-height: calc(90vw / 1.6074074074);
}
#page.preview .video-section.kids-mode video {
  max-height: calc(90vw / 1.0703703704);
}
#page.preview .filters .info {
  font-size: 15px;
  max-width: 90vw;
  width: 440px;
  margin: auto;
  margin-top: 6px;
  font-weight: 500;
}
#page.preview .filter-card .filter-description {
  font-size: 14px;
  color: #6c757d;
  line-height: 1.4;
  margin-top: 6px;
}

#page.non-profit {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 70px);
  min-height: calc(100dvh - 70px);
}
#page.non-profit .hero {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page.non-profit h1 {
  font-size: 80px;
}
@media screen and (max-width: 501px) {
  #page.non-profit h1 {
    font-size: 60px;
  }
}
@media screen and (max-width: 401px) {
  #page.non-profit h1 {
    font-size: 50px;
  }
}
#page.non-profit .mission {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#page.non-profit .mission .tagline {
  font-weight: 300;
  font-size: 29px;
}
@media screen and (max-width: 501px) {
  #page.non-profit .mission .tagline {
    font-size: 22px;
  }
}
@media screen and (max-width: 401px) {
  #page.non-profit .mission .tagline {
    font-size: 18.5px;
  }
}
#page.non-profit .ein {
  font-size: 13px;
  margin-top: 20px;
  height: 30px;
  display: flex;
}
#page.non-profit .ein .text {
  background-color: #2d86c7;
  color: white;
  height: 30px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#page.non-profit .ein .number {
  display: flex;
  align-items: center;
  padding: 0 10px;
  border: 1px solid #2d86c7;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#page.non-profit .contact {
  color: #2d86c7;
  margin-top: 20px;
  font-weight: 600;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 60px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  height: 100vh !important;
  height: calc(var(--1dvh, 1vh) * 100) !important;
  height: 100dvh !important;
}
body.loading {
  visibility: hidden;
}

h1 {
  margin: 0;
  font-weight: 400;
}

h2 {
  margin: 0;
  font-weight: 500;
}

.bold {
  font-weight: 600;
}

.body-wrapper {
  height: 100%;
}

.page-wrapper {
  height: fit-content;
  min-height: calc(100vh - 70px);
  min-height: calc(100dvh - 70px);
}

#page {
  height: 100%;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

*:focus {
  outline: none;
}

/*# sourceMappingURL=styles.css.map */
