footer {
    padding: 60px 10vw;
    background-color: $darkgray;
    display: flex;
    gap: 0 10vw;
    justify-content: end;

    .section {
        display: flex;
        flex-direction: column;

        color: white;

        .name {
            font-size: 20px;
        }

        .links {
            display: flex;
            flex-direction: column;
            gap: 10px 0;
            margin-top: 20px;
            font-weight: 300;

            .link {
                cursor: pointer;
            }
        }
    }
}