header {
    height: $header_h;
    display: flex;
    align-items: center;
    padding: 0 10vw;
    background: $brand_color_b;

    #logo {
        $r: 2020 / 400;
        $h: 30px;
        background-image: url(https://befriend.s3.amazonaws.com/befriend-logo-simple.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: $h;
        width: $h * $r;
    }

    .links {
        margin-left: auto;
        display: flex;
        gap: 0 60px;
        font-size: 17px;
        align-items: center;

        .waitlist {
            background-color: $brand_color_a;
            padding: 6px 16px;
            color: white;
            border-radius: 5px;
            border: 1px solid $lightgray;
        }

        a {
            //text-align: center;
            position: relative;
        }

        .in-person {
            font-size: 13px;
            position: absolute;
            left: 0;
            top: -16px;
            width: 80px;
        }
    }
}