<div id="page" class="home">
    <div class="hero">
        <h1>
            <div class="line">Real friends,</div>
            <div class="line">In-person</div>
        </h1>

<!--        <a href="https://befriend.app/discord" target="_blank">-->
<!--            <div class="discord">-->
<!--                <div class="icon">-->
<!--                    <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 127.1403 96.36"><defs><style>.cls-1{fill:#fff;}</style></defs><path class="cls-1" d="M107.6999,8.07c-8.3532-3.8243-17.1717-6.5374-26.23-8.07-1.2395,2.2159-2.3611,4.4957-3.36,6.83-9.6489-1.454-19.4611-1.454-29.11,0-.9994-2.334-2.121-4.6138-3.36-6.83-9.0641,1.5455-17.8884,4.2651-26.25,8.09C2.7899,32.65-1.7101,56.6.5399,80.21h0c9.7214,7.1826,20.6024,12.6451,32.17,16.15,2.6047-3.5032,4.9095-7.2197,6.89-11.11-3.7617-1.4049-7.3923-3.1383-10.85-5.18.91-.66,1.8-1.34,2.66-2,20.37,9.5795,43.95,9.5795,64.32,0,.87.71,1.76,1.39,2.66,2-3.4643,2.045-7.1017,3.7817-10.87,5.19,1.9781,3.8885,4.283,7.6019,6.89,11.1,11.5775-3.4909,22.4669-8.9508,32.19-16.14h0c2.64-27.38-4.51-51.11-18.9-72.15ZM42.4499,65.69c-6.27,0-11.45-5.69-11.45-12.69s5-12.74,11.43-12.74,11.57,5.74,11.46,12.74-5.05,12.69-11.44,12.69ZM84.6899,65.69c-6.28,0-11.44-5.69-11.44-12.69s5-12.74,11.44-12.74,11.54,5.74,11.43,12.74-5.04,12.69-11.43,12.69Z"/></svg>-->
<!--                </div>-->

<!--                <div class="invite">Join Us <br>on Discord</div>-->
<!--            </div>-->
<!--        </a>-->
    </div>
</div>

<script>

</script>